includes:
	- phpstan-baseline.neon
	- .Build/tools/phpstan/vendor/bnf/phpstan-psr-container/extension.neon
	- .Build/tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
	- .Build/tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: 5
	paths:
		- Classes
		- Tests
