<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de" xmlns:rx="http://typo3.org/ns/SkillDisplay/Skills/ViewHelpers" xmlns:mail="http://typo3.org/ns/Reelworx/TYPO3/MailService/ViewHelper" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{{subject}}}</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader">{{{description}}}</span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
						<div>
							<mail:image msg="{msg}" src="EXT:skills/Resources/Public/Images/mailheader.jpg" alt="SKiLLDiSPLAY" class="float-center" additionalAttributes="{align: 'center'}" />
						</div>

            {{> body}}

						<spacer size="30"></spacer>
						<container>
							<row>
								<columns small="12">
									<hr />
									<p>
                                        <strong>SkillDisplay GmbH</strong><br />
                                        Oberzellergasse 3/3/2<br />
                                        1030 Wien<br />
                                        Österreich<br />
										office@skilldisplay.eu
									</p>
									<p>
										<em>
											<f:link.page pageUid="{settings.pids.imprint}" absolute="1" additionalParams="{L:1}">Impressum</f:link.page> |
											<rx:appLink url="{settings.app}" appRoute="settings">Benachrichtungseinstellungen</rx:appLink>
										</em>
									</p>
								</columns>
							</row>
						</container>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>
